#hra {
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
}

#menu {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#hvezdy {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ico {
    width: 60px;
}

.fet, .persona {
    font-size: 9pt;
    max-width: 75px;
    width: auto;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.sportimg {
    margin: 5px;
    flex-shrink: 1;
    object-fit: contain;
    align-items: center;
    max-height: 100px;
}

.sel {
    border-style: none;
    border-width: 1px;
    padding: 4px;
    box-shadow: 0 0 5px #a50f15;
    transition: all 200ms ease-out;
}

#details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    text-align: center;
}

#sport {
    display: table;
    width: 100%;
    text-align: center;
}

.hvezda {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd;
}
